<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings />
  <connectionStrings />
  <system.web>
    <compilation targetFramework="4.0" />
    <!--
        La sección <authentication> habilita la configuración 
        del modo de autenticación de seguridad utilizado por 
        ASP.NET para identificar un usuario entrante. 
    -->
    <authentication mode="Windows" />
    <!--
        La sección <customErrors> habilita la configuración 
        de qué hacer cuando se produce un error no controlado
        durante la ejecución de una solicitud. Especialmente, 
        permite a los desarrolladores configurar páginas de error html 
        para mostrarlas en lugar del seguimiento de la pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
      La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
      Information Services 7.0. No es necesaria para la versión anterior de IIS.
  -->
  <system.webServer>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="100000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="ZWSSMART.Service1" behaviorConfiguration="ZWSSMART.Service1Behavior">
        <!-- Service Endpoints -->
        <endpoint address="" binding="basicHttpBinding" contract="ZWSSMART.IService1">
          <!-- 
              Antes de la implementación, se debe quitar o reemplazar el siguiente elemento de identidad para reflejar la 
              identidad bajo la que funciona el servicio implementado. Si se quita, WCF deducirá automáticamente una identidad 
               apropiada.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ZWSSMART.Service1Behavior">
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: {79543E4D-D4FC-4E92-8E7B-7DEE29497CD4}-->